/* ITHelp Dashboard - Main CSS */

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfe9ec;
}

div {
    background-color: white;
}
h2 {
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: bolder;
}
p {
    margin-top: 1px;
    margin-bottom: 1px;
}
.botPad {
    padding-top: 10px;
}
.icoText {
    font-size: 0.8em;
    margin-top: 0;
}
.section {
    margin-bottom: 4px;
    background-color: #dfe9ec;
}
.partiBox {
    height: 200px;
}
.icoLogo {
    letter-spacing: 9px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 7em;
}
.pFont {
    font-size: 1.5em;
}
.logoBorder {
    border-right: 1px dashed;
}
.alertBox {
    border-bottom: 4px #ff1744 solid;
}

.boxTop {
    border-bottom: 4px #ff1744 solid;
}
.boxLeft {
    /* height: 300px; */
    border-bottom: 4px #ff1744 solid;
}
.boxRight {
    /* height: 300px; */
    border-bottom: 4px #ff1744 solid;
}
.boxBottom {
    /* height: 380px; */
    border-bottom: 4px #ff1744 solid;
}
.oFlow {
    overflow: hidden;
}
.itInfo {

}
pre {
    white-space: pre-wrap;
}
textarea {
    white-space: pre-wrap;
}
#textA {
    visibility: hidden;
}
#editor-container {
    height: 375px;
}

/*
Blockquote styling
 */
blockquote {
    border-left: 5px solid #ff1744;
}

/*
Alert Block styling for alerts.html
 */
.alertBlock {
    background: #5DB7DE;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 90%;
    margin: auto;
    border-left: 3px solid #07020D;
    border-bottom: 3px solid #07020D;
    margin-bottom: 5px;
    border-top: 3px solid #D5CFE1;
    border-right: 3px solid #D5CFE1;
}
.alertTitle {
    text-decoration: underline;
}
.invisEdit {
    visibility: visible;
    float: right;
    margin-right: 100px;
    width: 300px;
}

/*
Brand Logo styling
 */
.brand-logo {
    margin-left: 10px;
}

.mainTitle {
    font-size: 70px;
    font-weight: bolder;
    margin-top: 1px;
    margin-bottom: 1px;
}

/*
Button styles
 */
.btn {
    margin: 5px;
}

/* 
Hidden Alert Div box
 */
.hiddenAlert {
    visibility: hidden;
}

/*
    Horizontal rule
 */
.horizRule {
    width: 50%;
    border-color: orange;
}

/*
Icon colours
 */
.material-icons.orange600 { color: #FB8C00; }
.material-icons.red600 { color: #e53935; }
.material-icons.blue600 { color: #00b0ff; }
.material-icons.md-48 { font-size: 160px; }

/*
    Carousel settings - currently not in use
 */
.carousel .carousel-item {
    display: block;
}
.carousel {
    height: 50px;
}
textarea {
    height: 250px;
}
/*
 Table styling
 */
td {
    padding-top: 1px;
    padding-bottom: 1px;
}
th {
    padding-top: 0;
    padding-bottom: 0;
}
/*
 Overriding Materialize box styling
 */
.row {
    margin-bottom: 1px;

}
/*
 Applications Status message styling
 */
.appsBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding-bottom: 10px;
}
.appsBox1 {
    color: white;
    border: 2px solid red;
    background-color: red;
    border-radius: 5%;
    box-shadow: 1px 1px 5px black;
    margin: 3px;
}
.appsBox2 {
    color: white;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 5%;
    box-shadow: 1px 1px 5px black;
    margin: 3px;
}
.appsBox3 {
    color: white;
    border: 2px solid #2ECC40;
    background-color: #2ECC40;
    border-radius: 5%;
    box-shadow: 1px 1px 5px black;
    margin: 3px;
}
.appsAdmin {

}
.frontContact {
    font-size: 26px;
}
/*
 Override of Materialize's radio button
 fixing issue that made radio buttons not show
 */
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 1;
}
/*
    Media screen
 */
@media screen and (max-width: 800px) {
    .appsBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding-bottom: 10px;
    }
    .frontContact {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .appsBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        padding-bottom: 10px;
    }
    .frontContact {
        font-size: 12px;
    }
}
/*
    Overlay settings for page change to
    Team Meeting / Major Emergency
 */
.overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 10;
     background-color: #dfe9ec;
 }
.overlay2 {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 20%;
    z-index: 9;
    background-color: white;
}